<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button type="submit" class="titicon" routerLink="/login">SALIR</ion-button>
    <ion-title class="tit">¿Quieres cambiar tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="login-header">
      <p class="welcome">Por favor ingresa tu correo</p>
      <p class="subtitle">
        Se enviará un token de verificación para el cambio de contraseña.
      </p>
    </div>

    <div class="login-form">
      <ion-item class="input-item">
        <ion-label position="floating" class="input-label">Correo:</ion-label>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          type="email"
          [(ngModel)]="email"
          class="inp"
          placeholder="Ingrese su correo electrónico"
          required
        ></ion-input>
      </ion-item>

      <ion-button expand="full" class="login-btn" (click)="sendVerificationCode()">Enviar</ion-button>

      <p class="go-back" (click)="irAlLogin()">Volver al Login</p>
    </div>
  </div>
</ion-content>
